.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.background {
  background: #131111;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.background-underline {
  background: linear-gradient(
    90deg,
    rgba(221, 39, 166, 1) 0%,
    rgba(114, 16, 200, 1) 25%,
    rgba(19, 160, 248, 1) 50%,
    rgba(44, 23, 204, 1) 75%,
    rgba(22, 234, 160, 1) 100%
  );
  width: 1920px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 1052px;
}
.best-player {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  left: 511px;
  top: 219px;
  width: 904px;
  -webkit-text-stroke: 1px #000000;
}
.rating {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 891px;
  top: 818px;
}
.adr {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 774px;
  top: 818px;
}
.kills {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1059px;
  top: 818px;
}
.aim-beast {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 1453px;
  top: 417px;
  width: 200px;
  height: 76px;
}
.aim-nick {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 1497px;
  top: 699px;
}
.headshot {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 1320px;
  top: 818px;
  width: 467px;
  height: 74px;
}
.aim-hs {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 1533px;
  top: 870px;
}
.aim-name {
  background: linear-gradient(
    90deg,
    rgba(221, 39, 166, 1) 0%,
    rgba(114, 16, 200, 1) 25%,
    rgba(19, 160, 248, 1) 50%,
    rgba(44, 23, 204, 1) 75%,
    rgba(22, 234, 160, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 1388px;
  top: 758px;
}
.nick-bp {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: 866px;
  top: 651px;
}
.name-bp {
  background: linear-gradient(
    90deg,
    rgba(221, 39, 166, 1) 0%,
    rgba(114, 16, 200, 1) 25%,
    rgba(19, 160, 248, 1) 50%,
    rgba(44, 23, 204, 1) 75%,
    rgba(22, 234, 160, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 80px;
  font-weight: 400;
  position: absolute;
  left: 768px;
  top: 714px;
}
.adr-bp {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 755px;
  top: 877px;
}
.rating-bp {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 915px;
  top: 876px;
}
.kills-bp {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1075px;
  top: 876px;
}
.date {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 815px;
  top: 99px;
}
.day {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 854px;
  top: 27px;
}
.noob {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 240px;
  top: 417px;
  width: 200px;
  height: 76px;
}
.noob-nick {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 284px;
  top: 699px;
}
.rating2 {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 107px;
  top: 818px;
  width: 467px;
  height: 74px;
}
.noob-rating {
  color: #f5f5f5;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 305px;
  top: 870px;
}
.noob-name {
  background: linear-gradient(
    90deg,
    rgba(221, 39, 166, 1) 0%,
    rgba(114, 16, 200, 1) 25%,
    rgba(19, 160, 248, 1) 50%,
    rgba(44, 23, 204, 1) 75%,
    rgba(22, 234, 160, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 174px;
  top: 758px;
}
.background-image-bp {
  background: #d9d9d9;
  width: 310px;
  height: 310px;
  position: absolute;
  left: 808px;
  top: 334px;
}
.background-image-noob {
  background: #d9d9d9;
  width: 210px;
  height: 210px;
  position: absolute;
  left: 235px;
  top: 484px;
}
.background-image-aim {
  background: #d9d9d9;
  width: 210px;
  height: 210px;
  position: absolute;
  left: 1448px;
  top: 488px;
}
